@using WindowToTheSociety.Web.ViewModels.Pages
@model PageViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<div class="row">
    <div class="col-md-8 center">
        <div class="card-user card">
            <div class="image">
                @if (Model.CoverPhotoUrl != null)
                {
                    <a href="@Model.CoverPhotoUrl">
                        <img alt="..." src="@Model.CoverPhotoUrl" width="100%" height="80%">
                    </a>
                }
                else
                {
                    <img src="~/facebook-cover-template.jpg" width="80%" class="">
                }
            </div>
            <div class="author">
                <h5>@Model.Title</h5>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-8 center">
        <a class="btn btn-primary col-md-12" asp-controller="Pages" asp-action="AddPost" asp-route-id="@Model.Id">Add Post</a>
    </div>
</div>

<hr />

@foreach (var post in Model.Posts)
{
    <div class="row" height="50%">
        <div class="col-md-8 center">
            <div class="card-user card">
                <div class="author">
                    <div class="card-body">
                        <a href="@Model.CoverPhotoUrl">
                            @if (@Model.CoverPhotoUrl != null)
                            {
                                <img alt="..." src="@Model.CoverPhotoUrl" class="avatar border-gray" width="150%">
                            }
                            else
                            {
                                <img alt="..." href="/wwwroot/facebook-cover-template.jpg" class="avatar border-gray" width="150%">
                            }
                        </a>
                        <h5>@Model.Title</h5>
                    </div>
                </div>
                <div>
                    <p>@post.Text</p>
                </div>
                <div class="image">
                    <a href="">
                        @if (post.Photo != null)
                        {
                            <img alt="..." src="@post.Photo.PictureUrl" width="100%" height="80%">
                        }
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr />
}