@using WindowToTheSociety.Common
@model WindowToTheSociety.Web.ViewModels.Search.SearchViewModel
@{
    this.ViewData["Title"] = "Search";
}

<div class="text-center">
    <h1 class="display-4 text-dark">@GlobalConstants.SystemName</h1>
</div>

<div class="text-center row">
    <div class="col-md-6">
        <h1 class="text-left">Users:</h1>
        <div class="row">
            @if (Model.Users == null || Model.Users.Count == 0)
            {
                <h4 class="">No matches.</h4>
            }
            else
            {
                @foreach (var user in this.Model.Users)
                {
                    <div class="card-body col-md-8">
                        @if (@user.ProfilePictureUrl != null)
                        {
                            <img src="@user.ProfilePictureUrl" width="80%" class="">
                        }
                        else
                        {
                            <img src="~/profile.jpg" width="80%" class="">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@user.FirstName @user.Surname</h5>
                            <h5 class="mt-0">
                                <a asp-controller="Users" asp-action="Profile" asp-route-id="@user.Id">Go to @user.FirstName</a>
                                <hr />
                                <div>
                                    <a class="row-md-4 text-center btn-round btn btn-primary float-left" asp-controller="Follow" asp-action="Follow" asp-route-id="@user.Id">Follow</a>
                                    <a class="row-md-4 text-center btn-round btn btn-danger float-right" asp-controller="Follow" asp-action="Unfollow" asp-route-id="@user.Id">Unfollow</a>
                                </div>
                            </h5>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-md-6">
        <h1 class="text-left">Pages:</h1>
        <div class="row">
            @if (Model.Pages == null || Model.Pages.Count == 0)
            {
                <h4>No matches.</h4>
            }
            else
            {
                @foreach (var p in Model.Pages)
                {
                    <div class="card-body col-md-8">
                        @if (p.CoverPhotoUrl != null)
                        {
                            <img src="@p.CoverPhotoUrl" width="80%" class="">
                        }
                        else
                        {
                            <img src="~/facebook-cover-template.jpg" width="80%" class="">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@p.Title</h5>
                            <h5 class="mt-0">
                                <a asp-controller="Pages" asp-action="Page" asp-route-id="@p.Id">Go to @p.Title</a>
                            </h5>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>