@model WindowToTheSociety.Web.ViewModels.Users.ListAllUsersViewModel
@{
    this.ViewData["Title"] = "All Users";
}

<div class="row col-md-12">
    @foreach (var user in Model.AllUsers)
    {
        <div class="card-user card col-md-4 form-group">
            <div class=" col-sm card-body">
                <div class="author">
                    <div>
                        @if (user.ProfilePictureUrl != null)
                        {
                            <a href="@user.ProfilePictureUrl">
                                <img alt="..." src="@user.ProfilePictureUrl" class="avatar border-gray" src="" width="150%">
                            </a>
                        }
                        else
                        {
                            <a href="~/profile.jpg">
                                <img alt="..." src="~/profile.jpg" class="avatar border-gray" src="" width="150%">
                            </a>
                        }
                        <h5 class="title">@user.FirstName @user.Surname</h5>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="button-container">
                    <div class="col-md-12 float-left">
                        <a class="row-md-4 text-center btn-round btn btn-primary float-left" asp-controller="Users" asp-action="Profile" asp-route-id="@user.Id">Go to Profile</a>
                        <a class="row-md-4 text-center btn-round btn btn-primary float-right" asp-controller="Follow" asp-action="Follow" asp-route-id="@user.Id">Follow</a>
                        <a class="row-md-4 text-center btn-round btn btn-danger float-right" asp-controller="Follow" asp-action="Unfollow" asp-route-id="@user.Id">Unfollow</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>