@model WindowToTheSociety.Web.ViewModels.Users.UsersProfileViewModel
@{
    this.ViewData["Title"] = "Profile";
}


<div class="align-content-sm-center center card">
    @if (@Model.CoverPhtotoUrl != null)
    {
        <img class="img-center container" src="@Model.CoverPhtotoUrl" height="575px" width="100%">
    }
    else
    {
        <a href="~/facebook-cover-template.jpg">
            <img class="img-center container" src="~/facebook-cover-template.jpg" height="575px" width="100%">
        </a>
    }
    <hr />

    @if (@Model.ProfilePictureUrl != null)
    {
        <img class="img-center" src="@Model.ProfilePictureUrl" height="280px" width="37%">
    }
    else
    {
        <a href="~/profile.jpg">
            <img alt="..." src="~/profile.jpg" class="img-center" height="280px" width="37%">
        </a>
    }

    <h1 class="text-center">@Model.FirstName @Model.Surname </h1>
</div>

<hr />
<h2>Intro:</h2>
<div>
    <h5>
        Gender: @Model.Gender
    </h5>
    <h5>
        BirthDate: @Model.BirthDate.ToString("D")
    </h5>
</div>
<hr />

@foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedOn))
{
    <div class="row" height="50%">
        <div class="col-md-8 center">
            <div class="card-user card">
                <div class="author">
                    <div class="card-body">
                        @if (@Model.ProfilePictureUrl != null)
                        {
                        <a href="@Model.ProfilePictureUrl">
                            <img alt="..." src="@Model.ProfilePictureUrl" class="avatar border-gray" src="" width="150%">
                        </a>
                        }
                        else
                        {
                            <a href="~/profile.jpg">
                                <img alt="..." src="~/profile.jpg" class="avatar border-gray" height="280px" width="37%">
                            </a>
                        }
                        <h5>@Model.FirstName @Model.Surname</h5>
                    </div>
                </div>
                <div>
                    <p>@post.Text</p>
                </div>
                <div class="image">
                    <a href="">
                        @if (post.Photo != null)
                        {
                            <img alt="..." src="@post.Photo.PictureUrl" width="100%" height="80%">
                        }
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr />
}